* {
    font-family: 'Bitter', serif;
    margin: 0;
}

body {
    color: #d3d3d3;
    background: #565656;
}

header {
    text-align: center;
    padding: 20px 0px;
}

h1, h2, h3, h4 {
    font-family: 'Bebas Neue', cursive;
}

h1 {
    font-size: 3rem;
    text-decoration: overline underline;
}

h2 {
    font-size: 2rem;
}

#search-section {
    background: hsla(0, 0%, 83%, 0.2);
    text-align: center;
    margin: none;
    padding: 15px 0;
}

#search-bar, #submit-button, #reco-button, #show-liked-drinks {
    padding: 5px;
    border: none;
    border-radius: 5px;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.1rem;
}

#submit-button {
    background: white;
    color: #565656;
}

#reco-button, #show-liked-drinks {
    margin: 15px 10px 0 10px;
}

#cocktail-card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px auto;
    padding: 2rem;
    max-width: 80vw;
    
}

.show-card {
    background: white;
    border: black 2px solid;
}

.child {
    margin: 10px;
    max-width: 45%;
}
.child-button {
    width: 100%;
    text-align: center;
}

.card-image {
    border-radius: 50%;
}